<div class="container my-3">
    <h3>Add Todo</h3>

        <form (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">

                <label  for="tasktittle">Tittle</label>
                <input type="text" [(ngModel)]="title" class="form-control mb-3" placeholder="Enter Tittle" id="tasktittle" name="title"/>

                <label  for="taskdesc">Description</label>
                <input type="text" [(ngModel)]="desc" name="desc" class="form-control" placeholder="Enter Description" id="taskdesc"/>



                <div class="mx-4 mt-3">
                    <input type="checkbox" class="form-check-input" id="activetask">
                    <label class="form-check-label" for="activetask">Active</label>
                </div>

              <div class="mt-3">
                    <input type="file"  (change)="onFileChange($event)"  class="form-control)" multiple>
              </div>

              <section class="w-100 p-4 d-flex justify-content-center pb-4">
                <div style="width: 22rem;">
                  <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                  <input class="form-control" type="file" id="formFileMultiple" multiple="">
                </div>
              </section>

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


</div>
